<!DOCTYPE html>
<html lang="en">

<head>
    {{> headerlinks}};
</head>

<body>

  {{>navbar}}


<!-- main header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                    <figure>
                        <img src="images/logo.jpg" alt="Kushal" class="img-fluid" title="Kushal">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to weather app</p>
                    <h1>My name is <span class="text_clr">kushaldeep Singh.</span>I am a third year student at IIT Roorkee</h1>
                    <a href="https://github.com/Kushaldeep-13" target="_kushal"><button>About Me</button></a>
                </div>
                <!-- right side div -->
                
            </div>
        </div>
    </div>    
</div>


<!-- footer code -->
{{> footer}};
</body>

</html>